* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.head {
    margin-top: 1rem;
    /* color: white; */
}
body{
    background-color: rgb(94, 118, 144);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    /* text-align: center; */
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-color: rgb(205, 185, 151);
    width: 1000px;
    height: 500px;
    /* padding-top: 5%; */
    box-shadow: 2px 4px 10px gray;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 12px 12px 2px 1px rgba(15, 39, 14, 0.2);
}

.input {
    padding: 10px 15px;
    border: 2px solid rgba(164, 83, 83, 0.4);
    font-size: 18px;
    outline: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.02);
}
input:hover{
    border: 2px solid black;
}

label {
    font-size: 18px;
    letter-spacing: 1.4px;
}

.tableForm {
    margin-top: 10px;
}

.btn {
    background-color: rgb(103, 103, 106);
    color: white;
    padding: 10px 20px;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    
}
.submit{
    text-align: center;
    margin: auto auto;
    padding-left: 50%;
}
input:invalid:focus {
    border: 2px solid red;
}

.table {
    border: 2px double black;
    margin: 40px auto;
}

.td,
.th {
    padding: 10px;
    text-align: center;
}

.subHead {
    text-align: center;
    margin-top: 2rem;
}